@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './clockwork-theme.css';

.app-drag-region {
  -webkit-app-region: drag;
}

.app-no-drag {
  -webkit-app-region: no-drag;
}
